{% extends "layout.html" %}
{% block body %}

    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="jumbotron">
        <h1>Webex Teams Python OAuth Sample</h1>
        <h4>Please Authenticate to Proceed</h4>
        <a href="/hello"><button class="btn btn-primary">Sign in to Webex Teams</button></a>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>

        {% include 'info.html' %}
    </div>


{% endblock %}