{% extends "layout.html" %}
{% block body %}
    <form class="form-signin text-center">
      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Demosphere</h1>
      <h2 class="h6 mb-3 font-weight-normal">Please Authenticate to Proceed</h2>
      <button class="btn btn--primary">Sign in to Webex Teams</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
{% endblock %}